@model TestVueWebApp.Repository.Models.Disrepair

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">
    <disrepair-create-component create-disrepair-url="@Url.Action("Create")"></disrepair-create-component>
</div>
@section Scripts{
    <script src="@Url.Content("~/bundle/disrepairs.js")"></script>
}
