@model TestVueWebApp.Repository.Models.Remain

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменить</h1>

<h4>Сальдо</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RemainCd" />
            <div class="form-group">
                <label asp-for="AccountCd" class="control-label">Лицевой счет</label>
                <select asp-for="AccountCd" class="form-control" asp-items="ViewBag.AccountCd"></select>
                <span asp-validation-for="AccountCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceCd" class="control-label">Наименование услуги</label>
                <select asp-for="ServiceCd" class="form-control" asp-items="ViewBag.ServiceCd"></select>
                <span asp-validation-for="ServiceCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remmonth" class="control-label">Месяц расчета остатка</label>
                <input asp-for="Remmonth" class="form-control" />
                <span asp-validation-for="Remmonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remyear" class="control-label">Год расчета остатка</label>
                <input asp-for="Remyear" class="form-control" />
                <span asp-validation-for="Remyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remainsum" class="control-label">Сумма остатка</label>
                <input asp-for="Remainsum" class="form-control" />
                <span asp-validation-for="Remainsum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
