@model TestVueWebApp.Repository.Models.Price

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменение</h1>

<h4>Цены</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PriceCd" />
            <div class="form-group">
                <label asp-for="PriceValue" class="control-label">Стоимость</label>
                <input asp-for="PriceValue" class="form-control" />
                <span asp-validation-for="PriceValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeCd" class="control-label">Наименование режима потребления</label>
                <select asp-for="ModeCd" class="form-control" asp-items="ViewBag.ModeCd"></select>
                <span asp-validation-for="ModeCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
