@model TestVueWebApp.Repository.Models.Abonent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменение</h1>

<h4>Абонент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountCd" />
            <div class="form-group">
                <label asp-for="Fio" class="control-label">ФИО</label>
                <input asp-for="Fio" class="form-control" />
                <span asp-validation-for="Fio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetCd" class="control-label">Улица</label>
                <select asp-for="StreetCd" class="form-control" asp-items="ViewBag.StreetCd"></select>
                <span asp-validation-for="StreetCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseNo" class="control-label">Номер дома</label>
                <input asp-for="HouseNo" class="form-control" />
                <span asp-validation-for="HouseNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatNo" class="control-label">Номер квартиры</label>
                <input asp-for="FlatNo" class="form-control" />
                <span asp-validation-for="FlatNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сorpus" class="control-label">Корпус</label>
                <input asp-for="Сorpus" class="form-control" />
                <span asp-validation-for="Сorpus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label">Район</label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountPerson" class="control-label">Количество жильцов</label>
                <input asp-for="CountPerson" class="form-control" />
                <span asp-validation-for="CountPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeFlat" class="control-label">Размер квартиры</label>
                <input asp-for="SizeFlat" class="form-control" />
                <span asp-validation-for="SizeFlat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
