@model TestVueWebApp.Repository.Models.PaySumma

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавление новой записи</h1>

<h4>Оплата</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaySum" class="control-label">Сумма оплаты</label>
                <input asp-for="PaySum" class="form-control" />
                <span asp-validation-for="PaySum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayDate" class="control-label">Дата оплаты</label>
                <input asp-for="PayDate" class="form-control" />
                <span asp-validation-for="PayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMonth" class="control-label">Номер оплачиваемого месяца</label>
                <input asp-for="PayMonth" class="form-control" />
                <span asp-validation-for="PayMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayYear" class="control-label">Оплачиваемый год</label>
                <input asp-for="PayYear" class="form-control" />
                <span asp-validation-for="PayYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbonentModeСd" class="control-label">Лицевой счет</label>
                <select asp-for="AbonentModeСd" class ="form-control" asp-items="ViewBag.AbonentModeСd"></select>
            </div>
            <div class="form-group">
                <label asp-for="PayType" class="control-label">Тип оплаты</label>
                <input asp-for="PayType" class="form-control" />
                <span asp-validation-for="PayType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceptionPointCd" class="control-label">Код пункта приема платежей</label>
                <select asp-for="ReceptionPointCd" class ="form-control" asp-items="ViewBag.ReceptionPointCd"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
