@{
    ViewData["Title"] = "Home Page";
}

    <div id="app" class="text-center">
    <login-component></login-component>
    </div>
@section Scripts{ 
<script src="@Url.Content("~/bundle/home.js")"></script>
}